{% extends 'App/base.html' %}
{% block content %}
<h1 class="mt-4">Productos</h1>
<div class="mb-3 py-3">
    <a href="" class="btn btn-success"><i class="fas fa-plus"></i> Agregar Producto</a>
</div>
<table class="table table-striped responsive ">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Categoría</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ producto.name }}</td>
            <td>{{ producto.description }}</td>
            <td>{{ producto.price }}</td>
            <td>{{ producto.category.name }}</td>
            <td>
                <a href="" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a>
                <a href="{% url 'productDelete' producto.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}