<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yummy | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet">
    {% load static %}
    <!-- Css Styles -->


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    

</head>

<body>
    <div class="container">
        
    </div>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container">
            <div class="logo">
                <a href="./index.html"><img src="{% static 'img/logo.png'%}" alt=""></a>
            </div>

            <div class="d-flex justify-content-end" >
                {% if user.is_authenticated %}
                    <form  method="post">
                    {% csrf_token %}
                        <h5>Hola! {{ user.username }}</h5>
                        <button class="btn btn-danger" type="submit" formaction="{% url 'Tienda:logout' %}"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</button>
                     </form>
                {% endif %}
            </div>


<nav class="navbar navbar-expand-lg bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'Tienda:home' %}"> <i class="fas fa-store"></i> Tienda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home:contact' %}"> <i class="fas fa-envelope"></i> Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'Tienda:login' %}"> <i class="fas fa-sign-in-alt"></i> Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'Tienda:signup' %}"><i class="fas fa-user-plus"></i> Registrarse</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'shop:cart' %}"><i class="fas fa-shopping-cart"></i> Carrito</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>




            
        </div>
    </header>
    <!-- Header End -->
       
         <!-- Page Top Recipe Section Begin -->
    <section class="page-top-recipe">
        <div class="container">
        {% block content %}
    
       <section class="empresa-info my-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 mb-4">
                <h3>Misión</h3>
                <p>
                    Nuestra misión es ofrecer productos y servicios de alta calidad que superen las expectativas de nuestros clientes, contribuyendo al desarrollo sostenible y al bienestar de la comunidad.
                </p>
            </div>
            <div class="col-md-4 mb-4">
                <h3>Visión</h3>
                <p>
                    Ser una empresa líder en el sector, reconocida por su innovación, excelencia y compromiso con la satisfacción del cliente y el cuidado del medio ambiente.
                </p>
            </div>
            <div class="col-md-4 mb-4">
                <h3>Objetivos</h3>
                <ul class="text-start">
                    <li>Brindar un servicio al cliente excepcional.</li>
                    <li>Fomentar la mejora continua e innovación.</li>
                    <li>Promover el desarrollo profesional de nuestro equipo.</li>
                    <li>Contribuir positivamente a la sociedad.</li>
                </ul>
            </div>
        </div>
    </div>
</section> 
        
    <!-- Categories Filter Section Begin -->
    <div class="categories-filter-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="filter-item">
                        <ul>
                            {% for categori in categoria %}
                                <li data-filter=".{{ categori.name|slugify }}">{{ categori.name}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
                        <div class="cf-filter" id="category-filter">
                {% for prod in producto %}
                    <div class="cf-item mix all {{ prod.category.name|slugify }}">
                        <div class="cf-item-pic">
                            <img src="{{ prod.image }}" alt="{{ prod.name }}" class="img-fluid" onerror="this.src='{% static 'img/default-product.svg' %}'">
                        </div>
                        <div class="cf-item-text">
                            <h4>{{ prod.name }}</h4>
                            <h6>{{ prod.description}}</h6>
                            <h5 style="color: #00be0aff;">{{ prod.price }}</h5>
                            {% if user.is_authenticated %}
                            <a href="{% url 'shop:cart_add' prod.id %}" class="btn btn-secondary"><i class="fas fa-shopping-cart"></i> Comprar</a>
                            {% else %}
                            <a href="{% url 'Tienda:login' %}" class="btn btn-primary">Iniciar sesión para comprar</a>
                            {% endif %}
                        </div>


                    </div>
                {% endfor %}
        </div>
    </div>
    <!-- Categories Filter Section End -->



    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="fs-left">
                        <div class="logo">
                            <a href="./index.html">
                                <img src="{% static 'img/footer-logo.png'%}" alt="">
                            </a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                            viverra maecenas accumsan lacus vel facilisis.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search model -->
	<div class="search-model">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch">+</div>
			<form class="search-model-form">
				<input type="text" id="search-input" placeholder="Search here.....">
			</form>
		</div>
	</div>
	<!-- Search model end -->


{% endblock %}
   
    
    <!-- Js Plugins -->

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>